.div {
    display: flex;
    flex-direction: column;
    width: 100%;
    width: 400px;
    margin: 0 auto;
    padding: 20px 30px;
    background-image:linear-gradient(to bottom,rgba(124, 187, 176, 0.139), rgba(182, 210, 205, 0.362));
    border: solid 1px rgb(124, 187, 176);
    border-radius: 15px;
    box-shadow: 0 8px 16px rgb(175, 201, 197);
    margin-bottom: 15px;
  }

  .label {
    font-weight: 600;
    color:rgb(75, 131, 122);
    margin-bottom: 4px;
    transition: all 0.5s ease;
  }

  .label:hover {
  transform: translateY(-2px);
  }
  
.input {
    padding: 10px 14px;
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgb(124, 187, 176);
    border-radius: 8px;
    transition: box-shadow 0.3s;
    margin-bottom: 15px;
    transition: all 0.5s ease;
    background-color: rgba(227, 255, 250, 0.343);
  }
  
  .input:focus,   .input:hover {
    box-shadow: 0 0 0 3px rgba(156, 213, 204, 0.41);
    outline: none;
  }