.ul {
  display: flex;
  justify-content:space-between;
  gap: 25px;
}

.li {
  width: 300px;
  color:rgb(96, 148, 139);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s ease;
}

.li:hover {
transform: translateY(-2px);
}


.h3 {
  margin-bottom: 15px;
  text-align: center;
}
.p {
    font-size: 15px;
    text-align: center;
}

.shadow {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 20%;
    overflow: hidden;
    margin-bottom: 15px;
}
  
  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7%;
  }

  .shadow::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 7%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.099), rgba(0, 0, 0, 0.076));
    pointer-events: none; 
    box-shadow: inset 0 0 20px rgb(255, 255, 255); 
  }
  